*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card{
	text-align: center;
	box-shadow: 0 0 8px 2px #cac4c4;
	width: 20rem;
	margin-top: 2rem;
}
.cards{
	justify-content: space-around;
	margin-top: 4rem;
}

